<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Página do Aluno</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 text-center>Aluno: {{alunoComplete?.nome}}</h2>

  <ion-card>
    <ion-card-header>
      <ion-card-title text-center>Disciplinas atuais:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let disciplina of alunoComplete?.disciplinas">
        <p text-center>{{disciplina.id}} - {{disciplina.nome}}</p>
      </ion-list>  
    </ion-card-content>
    </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title text-center>Notas por disciplina:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let nota of alunoComplete?.notas">
        <p text-center>Nota: {{nota.valor}} - {{nota.disciplina.nome}}</p>
      </ion-list>  
    </ion-card-content>
  </ion-card>
</ion-content>
