<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Atribuição de disciplina</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="atribuir(); $event.preventDefault()">
    <ion-item>
      <ion-label stacked>Professor*</ion-label>
      <ion-select formControlName="professorId">
        <ion-option *ngFor="let professor of professores; first as f" [value]="professor.id" [selected]="f">{{professor.nome}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Disciplina*</ion-label>
      <ion-select formControlName="disciplinaId">
        <ion-option *ngFor="let disciplina of disciplinas" [value]="disciplina.id">{{disciplina.nome}}</ion-option>
      </ion-select>
    </ion-item>
    <button ion-button block type="submit" [disabled]="formGroup.invalid">Atribuir disciplina</button>
  </form>
</ion-content>


